name: "CD Workflow"

on:
  push:
    branches: [main, develop]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        uses: actions/checkout@v6
        with:
          node-version: 24
      - run: corepack enable
        with:
          cache: yarn
      - run: yarn install --immutable

      - name: Deploy application
        run: yarn lint && yarn build && yarn deploy:prod
