name: "CD Workflow"

env:
  NODE_ENV: production
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches: [main, develop]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        uses: actions/checkout@v6
        with:
          node-version: 24
      - run: corepack enable
        with:
          cache: yarn
      - run: yarn install --immutable

      - name: Deploy application
        run: yarn lint && yarn build && yarn deploy:prod
